<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html;charset=utf-8">
  <link rel="stylesheet" type="text/css" href="{{base_url}}/css/gollum.css" media="all">
  <link rel="stylesheet" type="text/css" href="{{base_url}}/css/template.css" media="all">
  <link rel="stylesheet" type="text/css" href="{{base_url}}/css/_styles.css" media="all">
  {{#css}}<link rel="stylesheet" type="text/css" href="{{base_url}}/custom.css" media="all">{{/css}}
  {{#js}}<script type="text/javascript" src="{{base_url}}/custom.js"></script>{{/js}}
  <title>{{title}}</title>
</head>
<body>

{{#has_results}}
  <div id="results">
  {{{results}}}
    <div style="margin:20px 0">
        <a href="/pages" style="border:1px solid #ddd;padding:5px 10px;background:#fff;">All Pages</a>
    </div>
  </div>
{{/has_results}}

<div id="gollum-in-iframe"></div>

<script src="{{base_url}}/javascript/jquery-1.7.2.min.js"></script>
<script>
$(document).ready(function () {
    var $first = $('#results > ol a:first'),
        firstUrl;
    if ($first.length === 0) {
        firstUrl = '/create/%E5%89%8D%E8%A8%80';
    } else {
        firstUrl = $first.attr('href');
    }
    $('#gollum-in-iframe').append('<iframe src="' + firstUrl + '" width="100%" frameborder="0" style="min-height:99vh"></iframe>');
    $('#results a').click(function (e) {
        e.preventDefault();
        $('iframe').attr('src', $(this).attr('href'));
    });
});
</script>
</body>
</html>
